* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 500px;
    border: 4px solid #272932;
    padding: 30px;
    gap: 10px;
    background-color: #4D7EA8;
    border-radius: 16px;
}

.display {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 5em;
    overflow: hidden;
    color: #B6C2D9;
    background-color: #272932;
    padding-right: 10px;
    border-radius: 8px;
}

.delete-buttons {
    display: flex;
    height: 15%;
    gap: 10px;
}

.delete-buttons>button {
    flex: 1 1 calc(50% - 10px);
    background-color: #9E90A2;
}

.delete-buttons>button:active {
    background-color: #7b6d80;
}

.button-pad {
    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
    gap: 10px;
}

.button-row {
    display: flex;
    flex: 1 1 auto;
    gap: 10px;
}

.button-row>button {
    flex: 1 0 calc(100% / 4 - 10px);
    background-color: #B6C2D9;
}

button {
    font-size: 24px;
    padding: 0;
    border: 2px solid #272932;
    border-radius: 8px;
}

.button-row>button:active {
    background-color: #939fb6;
}